@model Compania

@{
	ViewBag.Title = "Crear nueva compañia";
}


<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-8 offset-2">
			<p>
				<h4>
					Crear nueva compa&ntilde;ia
				</h4>
			</p>

			<div class="row">
				<div class="col-md-8 offset-2">
					<form asp-action="Create">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label asp-for="Nombre" class="control-label"></label>
									<input asp-for="Nombre" class="form-control" />
									<span asp-validation-for="Nombre" class="text-danger"></span>
								</div>

								<div class="form-group">
									<label asp-for="Pais" class="control-label"></label>
									<input asp-for="Pais" class="form-control" />
									<span asp-validation-for="Pais" class="text-danger"></span>
								</div>

								<div class="form-group">
									<label asp-for="LogoPath" class="control-label"></label>
									<input asp-for="LogoPath" class="form-control" />
									<span asp-validation-for="LogoPath" class="text-danger"></span>
								</div>

								
								<div class="form-group mt-1">
									<input type="submit" value="Crear" class="btn btn-outline-success float-end" />
									<a class="btn btn-outline-secondary" asp-action="Index">VER TODOS</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
</div>